.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    text-align: center;    
    background: none;
}

#carouselExampleCaptions {
    height: 400px!important;
    overflow: hidden;
}
#carouselExampleCaptions img{
    min-height: 400px;
}
.darkSection {
    background: #b1b6bd;
}
div.carouselCustomRow {
    width: 100%;
}
.row {
    margin-left: 0!important;
    margin-right: 0!important;
}